@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

#info{
    
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}

h4{
    color: #fff;
    
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#info .info-wilica{

    margin: 20px;
    
}


#info .info-wilica img:hover{
    opacity: 1;
 
    transform: scale(1.15);
}

#info .info-wilica img:active{
   
   transform: scale(1);
}


#info .info-wilica img{
    width: 125px;
    opacity: 0.8;
    height: 125px;
    border-radius: 30%;
    cursor: pointer;
    border: 4px solid #fff;
}