@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(menu.css);
@import url(banner.css);
@import url(registros.css);
@import url(consultas.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
 
header {
    width: 100%;
    height: 54px;    
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.array{
width: 80%;
height:auto;
position: relative;
}

.divspedido{
float:left;     
padding:5px; 
color:#fff; 
width:auto; 
margin:1px; 
background:#039; 
}

.divs{
float:left;     
padding:5px; 
width:50px;
height:20px; 
margin:1px; 

}


.contenedor {
    width: 98%;
    margin: auto;
    
}



h1{
    float: left;
	position: fixed;
	display: block;
    font-size: 32px;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#contenedor1 .h1{
	float: left;
	
}

header .contenedor{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
        
}

@media (min-width:1024px){
    .contenedor{
        
        width:1000px;
    }
    
}
