@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background: #DEDEDE;
    display: flex;
    min-height: 100vh;
   
    
}


form{
    margin: auto;
    width: 50%;
    max-width: 500px;
    background: #F3F3F3;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    
    
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.7);
    
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.contenedor {
    width: 98%;
    margin: auto;
    
}
h1{
    float: left;
   
    
}

header .contenedor{
    display: table;
}

@media (min-width:1024px){
    .contenedor{
        
        width:1000px;
    }
    
}

input{
    display:block;
    padding: 10px;
    width:100%;
    margin: 30px 0;
    font-size: 20px;
    
}

select{
    
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid darkgray; 
    
}

input[type="submit"]{
    background: linear-gradient(#000000,#000000);
    border: 0;
    color: whitesmoke;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    
}

input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
   transform: scale(0.95);
}


@media(max-width: 768px){
    form{
        width: 75%;
        
    }
}
    
@media(max-width: 480px){
    form{
        width: 90%;
        
    }
}

