@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  box-sizing: border-box;  
    
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background: #DEDEDE;
    
}


#infor .form-register{
    width:95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
}

#infor .form__titulo{
background: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:5px solid gray;
}
  
#infor .contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#infor .input-100{
    width: 100%;
}

input{
    margin-bottom: 15px;
    padding: 14px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray; 
 
    
    
}
input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
   transform: scale(0.95);
}

#infor .btn-enviar{
    background: #000000;
    color: #fff;
    margin: auto;
    padding: 10px 40px; 
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
}

#infor .btn-enviar:active{
    transform: scale(1.05);
}
select{
    margin-bottom: 15px;
    padding: 14px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray; 
    
}

textarea{
    margin-bottom: 15px;
    padding: 14px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray; 
    
}
